# Ignore large data folders
data/
data/input/
data/voice_dataset/

# Ignore virtual environment
.venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore other common files
.DS_Store
*.log
*.tmp
